#my-table {
    background-color: #b07246;
    outline: auto;
}

#body {
    padding: 30px;
}

#filter-table{
    display: flex;
    justify-content: space-between;
}

#spin-button {
    width: fit-content;
    margin-bottom: 1em;
}

#filter-input {
}

#pagination {
    display: inline-flex;
    position: sticky;
}

#text {
    margin: 0;
    color: #212529;
    font-weight: bold;
}